* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  letter-spacing: 0.75px;
  font-size: 16px;
  color: #E1E1E6;
  width: 100vw;
  height: 100vh;
}

.grab {
  cursor: grab;
}

.force-grab {
  cursor: grabbing !important;
}

.grab:active {
  cursor: grabbing;
}

.pointer {
  cursor: pointer;
}

.brush {
  cursor: default;
}

.deletion {
  cursor: url(/assets/trashcursor.png) 4 2, auto;
}

.main {
  display: flex;
}

.scroll-container {
  flex: 1;
  max-height: calc(100vh - 3rem);
  & > .scroll-content {
    width: calc(100vw - 240px);
  }
}