.map-render {
  position: relative;
  display: inline-block;
  margin: auto;

  .image-grid {
    display: grid;
    user-select: none;
    -webkit-user-drag: none;

    img {
      user-select: none;
      pointer-events: none;
      -webkit-user-drag: none;
    }
  }
}