.mouse-selector {
  flex: 1;

  button {
    height: 48px;
    cursor: pointer;
    background-color: #2c2c2c;
    border: 0;
    color: white;
    width: 48px;

    &:hover {
      background-color: #111;
    }

    &.active {
      background-color: #0d99ff;
    }

    svg {
      font-size: 20px;
    }
  }
}